html,
body {
  height: 100%;
  min-height: 100%;
  margin: 0;
  overflow: hidden;
}

#terminal-container {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.ttyd-terminal-area {
  flex: 1;
  min-height: 0;
  overflow: hidden;

  .terminal {
    padding: 5px;
    height: calc(100% - 10px);
  }
}
